<h1 class="profile-title"><%= currentUser.dataValues.name %>'s Profile</h1>

<hr class="in-title">

<% let soloIndex; %> 
<% let flexIndex; %> 
<% for (let i = 0; i < statsData.length; i++)
{
  if (statsData[i].queueType === "RANKED_SOLO_5x5")
  {
    soloIndex = i;
  }
  else
  {
    flexIndex = i;
  }
} %> 

<% let wins;
let loses;
let winf;
let lossef;
let ranks;
let rankf;
let LPs;
let LPf; %> 
<% if (statsData[soloIndex] === undefined || statsData[soloIndex] === null)
{
    wins = 0;
    losses = 0;
    ranks = "NO SOLO RANKED GAMES";
    LPs = 0;
}
else
{
    wins = statsData[soloIndex].wins;
    losses = statsData[soloIndex].losses;
    ranks = statsData[soloIndex].tier + " " + statsData[soloIndex].rank
    LPs = statsData[soloIndex].leaguePoints;
} %> 

<% if (statsData[flexIndex] === undefined || statsData[flexIndex] === null)
{
    winf = 0;
    lossef = 0;
    rankf = "NO FLEX RANKED GAMES";
    LPf = 0;
}
else
{
    winf = statsData[flexIndex].wins;
    lossef = statsData[flexIndex].losses;
    rankf = statsData[flexIndex].tier + " " + statsData[flexIndex].rank
    statsData[flexIndex].leaguePoints;
} %> 

<% let soloGames = wins + losses %> 
<% let flexGames = winf + lossef %> 

<h2 class="profile-subtitle"><%= currentUser.dataValues.name %>'s Stats</h2>
<div class="profile-stats">
    <div class="solo-stats">
        <h3 class="profile-ranked-title">Ranked Solo Queue</h3>
        <ul class="stats-list">
            <li><%= ranks %></li>
            <li><%= LPs %> LP</li>
            <li><%= wins + " wins (" + soloGames %> games)</li>
        </ul>
    </div>
    <div class="flex-stats">
        <h3 class="profile-ranked-title">Ranked Flex Queue</h3>
        <ul class="stats-list">
            <li><%= rankf %></li>
            <li><%= LPf %> LP</li>
            <li><%= winf + " wins (" + flexGames %> games)</li>
        </ul>
    </div>
</div>

<hr class="in-page">

<h2 class="profile-subtitle"><%= currentUser.dataValues.name %>'s Favorite Teammates</h2>
<form class="profile-faveplayers-form" method="POST" action="/favePlayers">
    <input class="profile-faveplayers-input" type="text" name="summonerName" value="" placeholder="type teammate summoner name here">
    <input type="submit" value="Add Favorite Teammate">
</form>
<ul class="profile-teammates">
    <% if (allPlayers !== null || allPlayers !== undefined)
    { %>
        <% allPlayers.forEach(player =>
        { %>
            <li class="each-profile-teammate">
                <h5><%= player.username %></h3>
            </li>
        <% }) %> 
    <% } %> 
</ul>
<a class="profile-teammates-link" href="/favePlayers/<%= currentUser.dataValues.id %>">See More Info</a>


<hr class="in-page">

<h2 class="profile-subtitle"><%= currentUser.dataValues.name %>'s Top <%= allTopChamps.length %> Favorite Champions</h2>

<ul class="profile-champs">
    <% for (let i = 0; i < allTopChamps.length; i++)
    { %>
        <li class="each-profile-champ">
            <img class="profile-faveChamps-splash" src="http://ddragon.leagueoflegends.com/cdn/10.16.1/img/champion/<%= allTopChamps[i].id %>.png">
            <p><%= allTopChamps[i].name %></p>
        </li>
    <% } %>
    <li><a class="profile-champs-link" href="/faveChamps/<%= currentUser.dataValues.id %>">See More Favorite Champions</a></li>
</ul>

<hr class="in-page">



<h2 class="profile-subtitle"><%= currentUser.dataValues.name %>'s Favorite Special Game Modes</h2>
<ul class="profile-modes">
    <% for (let i = 0; i < allFaveModes.length; i++)
    { %>
        <li class="each-profile-mode">
            <img class="profile-favemodes-splash" src="./../game-modes/mode-<%= modeIndex[i] + 1 %>.png">
            <p><%= allFaveModes[i].name %></p>
        </li>
    <% } %>
    <li><a class="profile-modes-link" href="/faveModes/<%= currentUser.dataValues.id %>">Delete Favorite Modes</a></li>
</ul>