<h1 class="profile-title"><%= currentUser.dataValues.name %>'s Profile</h1>

<hr class="in-title">

<% let soloIndex; %> 
<% let flexIndex; %> 
<% for (let i = 0; i < statsData.length; i++)
{
  if (statsData[i].queueType === "RANKED_SOLO_5x5")
  {
    soloIndex = i;
  }
  else
  {
    flexIndex = i;
  }
} %> 
<% let soloGames = statsData[soloIndex].wins + statsData[soloIndex].losses %> 
<% let flexGames = statsData[flexIndex].wins + statsData[flexIndex].losses %> 

<h2 class="profile-subtitle"><%= currentUser.dataValues.name %>'s Stats</h2>
<div class="profile-stats">
    <div class="solo-stats">
        <h3 class="profile-ranked-title">Ranked Solo Queue</h3>
        <ul class="stats-list">
            <li><%= statsData[soloIndex].tier + " " + statsData[soloIndex].rank %></li>
            <li><%= statsData[soloIndex].leaguePoints %> LP</li>
            <li><%= statsData[soloIndex].wins + " wins (" + soloGames %> games)</li>
        </ul>
    </div>
    <div class="flex-stats">
        <h3 class="profile-ranked-title">Ranked Flex Queue</h3>
        <ul class="stats-list">
            <li><%= statsData[flexIndex].tier + " " + statsData[flexIndex].rank %></li>
            <li><%= statsData[flexIndex].leaguePoints %> LP</li>
            <li><%= statsData[flexIndex].wins + " wins (" + flexGames %> games)</li>
        </ul>
    </div>
</div>

<hr class="in-page">

<h2 class="profile-subtitle"><%= currentUser.dataValues.name %>'s Favorite Teammates</h2>
<form class="profile-faveplayers-form" method="POST" action="/favePlayers">
    <input class="profile-faveplayers-input" type="text" name="summonerName" value="" placeholder="type teammate summoner name here">
    <input type="submit" value="Add Favorite Teammate">
</form>
<ul class="profile-teammates">
    <% if (allPlayers !== null || allPlayers !== undefined)
    { %>
        <% allPlayers.forEach(player =>
        { %>
            <li class="each-profile-teammate">
                <h5><%= player.username %></h3>
            </li>
        <% }) %> 
    <% } %> 
</ul>
<a class="profile-teammates-link" href="/favePlayers/<%= currentUser.dataValues.id %>">See More Info</a>


<hr class="in-page">

<h2 class="profile-subtitle"><%= currentUser.dataValues.name %>'s Top <%= allTopChamps.length %> Favorite Champions</h2>

<ul class="profile-champs">
    <% for (let i = 0; i < allTopChamps.length; i++)
    { %>
        <li class="each-profile-champ">
            <img class="profile-faveChamps-splash" src="http://ddragon.leagueoflegends.com/cdn/10.16.1/img/champion/<%= allTopChamps[i].id %>.png">
            <p><%= allTopChamps[i].name %></p>
        </li>
    <% } %>
    <li><a class="profile-champs-link" href="/faveChamps/<%= currentUser.dataValues.id %>">See More Favorite Champions</a></li>
</ul>

<hr class="in-page">

<h2 class="profile-subtitle"><%= currentUser.dataValues.name %>'s Favorite Matches</h2>

<hr class="in-page">

<h2 class="profile-subtitle"><%= currentUser.dataValues.name %>'s Favorite Game Modes</h2>