<% if (false) //myId !== user.id
{ %>
    <h1>YOU DO NOT HAVE PERMISSION TO ACCESS THIS PROFILE</h1>
<% }
else
{ %>
    <h1 class="faveChamps-title"><%= user.name %>'s Fave Champions</h1>
    
    <hr class="in-title">
    
    <ul>
        <% faveChamps.forEach(champ =>
        { %>
            <li>
                <div>
                    <%= champ.name %>
                    <a class="faveChamps-link" href="/champs/<%= champ.id %>">See More Info</a>    
                </div>
                <img class="faveChamps-splash" src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/<%= champ.id %>_0.jpg">
                <form method="POST" action="/faves/champ/<%= champ.key %>/?_method=DELETE">
                    <input type="submit" value="DELETE FAVE">
                </form>
            </li>
        <% }) %>
    </ul>
<% } %>
