<h1 class="faveChamps-title"><%= user.name %>'s Fave Teammates</h1>

<hr class="in-title">


<div class="faveChamp-cards row row-cols-1 row-cols-md-3">
    <% if (soloStats !== null || soloStats !== undefined)
    { 
        for (let i = 0; i < soloStats.length; i++)
        { %>
            <div class="col mb-4">
                <div class="card each-faveChamp-card">
                    <div class="card-body">
                        <h3 class="card-title faveChamp-name"><%= soloStats[i].username %></h3>
                        <p class="faveChamp-stats"><%= soloStats[i].rank %></p>
                        <p class="faveChamp-stats"><%= soloStats[i].LP %></p>
                        <p class="faveChamp-stats"><%= soloStats[i].winRate %></p>
                    </div>
                    <% if (myId == siteId)
                    { %>
                        <div class="card-footer">
                            <div class="faveChamps-buttons">
                                <form class="faveChamp-form" method="POST" action="/favePlayers/<%= soloStats[0].username %>/?_method=DELETE">
                                    <input type="submit" value="DELETE">
                                </form>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        <% }
    } %>
</div>
