<h1 class="faveChamps-title"><%= user.name %>'s Fave Teammates</h1>

<hr class="in-title">


<div class="faveChamp-cards row row-cols-1 row-cols-md-3">
    <% for (let i = 0; i < ourPlayers.length; i++)
    { %>
        <div class="col mb-4">
            <div class="card each-faveChamp-card">
                <div class="card-body">
                    
                    <% let playerIndex;
                    for (let j = 0; j < stats.length; j++)
                    {
                        if (stats[j].solo.username.toLowerCase() === ourPlayers[i].username.toLowerCase())
                        {
                            playerIndex = j;
                        }
                    } %>
                    <h3 class="card-title faveChamp-name"><%= stats[playerIndex].solo.username %></h3>
                    <h5>Solo Stats</h5>
                    <p class="faveChamp-stats">Rank: <%= stats[playerIndex].solo.rank %></p>
                    <p class="faveChamp-stats"><%= stats[playerIndex].solo.LP %> LP</p>
                    <p class="faveChamp-stats">Wins: <%= stats[playerIndex].solo.winRate %></p>
                    <h5>Flex Stats</h5>
                    <p class="faveChamp-stats">Rank: <%= stats[playerIndex].flex.rank %></p>
                    <p class="faveChamp-stats"><%= stats[playerIndex].flex.LP %> LP</p>
                    <p class="faveChamp-stats">Wins: <%= stats[playerIndex].flex.winRate %></p>
                    
                </div>

                <% if (myId == siteId)
                { %>
                    <div class="card-footer">
                        <div class="faveChamps-buttons">
                            <form class="faveChamp-form" method="POST" action="/favePlayers/<%= ourPlayers[i].username %>/?_method=DELETE">
                                <input type="submit" value="DELETE">
                            </form>
                        </div>
                    </div>
                <% } %>

            </div>
        </div>
    <% } %>
</div>
